[Uu]nused/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ackages/
x64/
x86/
.vs/

*.suo
*.sln
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.sdf
*.opendb
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ini
